<!DOCTYPE html><html><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

    <title>My website</title>
    <link rel="stylesheet" href="./front_page.css">
</head><body onload="showChatLog()">

    <div id="wrapper">
        <h1 hidden>Hello Me</h1>

        <form id="postCommentForm" action="/front_page" method="post">
            <textarea placeholder="Type here" name="comments" id="comments"></textarea>
            <input type="submit" value="Send message">
        </form>

        <div id="messages"></div>
    </div>

<script src="./index.js" type="text/javascript"></script>
</body></html>
