<html>

<head>
    <title>My website</title>
</head>

<body>

    <h1>Hello Me</h1>

    <form id="postCommentForm" action="/postComment.js" method="post">
        <div>
            <textarea name="comments" id="comments">
                Write a messsage here:
            </textarea>
        </div>
        <input type="submit" value="Send message">
    </form>

    <br>

    <button id="show-image" onclick="showImage()">Show image</button>

    <br><br>

    <button id="hydra", onclick="createNewButton(document.getElementById('hydra'))">Duplicate</button>

    <script src="./index.js" type="text/javascript"></script>

</body>

</html>
