@keyframes slide-from-left {
    from {
        opacity: 0;
        left: var(--slide-offset);
    } to {
        opacity: 1;
        left: 0;
    }
}

@keyframes slide-from-right {
    from {
        opacity: 0;
        right: var(--slide-offset);
    } to {
        opacity: 1;
        right: 0;
    }
}

@keyframes fade-in {
    from { opacity: 0; }
    top  { opacity: 1; }
}

.btn-home {
    color: var(--fg);
}

.btn-home:hover {
    color: var(--blue-light);
}

.btn-page {
    flex-grow: 1;
    background-color: var(--bg-alt);
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
    border-radius: var(--rounding);
    padding: 8px;
    cursor: pointer;
    transition: 50ms background, 100ms box-shadow;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.btn-page:hover
{
    background-color: var(--red);
    color: var(--bg-alt);
}

.btn-active {
    /* background-color: var(--bg); */
    box-shadow: inset 0 0 0 2px var(--red);
    pointer-events: none !important;
}

.page-selector {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

#board-threads {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#no-threads {
    text-align: center;
    font-weight: 600;
    animation-name: fade-in;
}

.thread {
    --slide-offset: -120px;
    position: relative;
    background-color: var(--bg-alt);
    border-radius: var(--rounding);
    animation-duration: 400ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    padding: 1em;
}

.thread:nth-of-type(odd) {
    animation-name: slide-from-left;
}

.thread:nth-of-type(even) {
    animation-name: slide-from-right;
}

.reply {
    --indent: 8px;
    background-color: var(--bg);
    border-radius: var(--rounding);
    margin-top: .6em;
    padding: 1em;
}

.reply:nth-child(odd) {
    margin-left: var(--indent);
}

.reply:nth-child(even) {
    margin-right: var(--indent);
}

.details {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 10px;
}

.text {
    margin-top: 4px;
}

.post-id {
    background-color: var(--blue);
    color: var(--bg-alt);
    font-weight: 600;
    font-size: .8em;
    border-radius: var(--rounding);
    padding: 0 6px;
    cursor: pointer;
}

.post-id:hover {
    background-color: var(--fg);
    color: var(--bg-alt);
}

.username {
    color: var(--red);
    font-weight: 600;
}

.title {
    color: var(--yellow);
}

.date {
    flex-grow: 1;
    text-align: right;
    font-size: .8em;
    opacity: .48;
}

#thread-viewer {
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0008;
    backdrop-filter: blur(10px);
    z-index: 1;
}

@media (orientation: portrait) {
    .date {
        text-align: left;
    }
}